---
permalink: /self_hosted
layout: comparison
title: "Best Self-Hosted Pocket Alternatives"
description: "Find the perfect self-hosted Pocket alternative that works for you. Compare features, pricing, and hosting options."
---

<!-- Hero Section -->
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-7">
          <h1 class="title is-1 has-text-white">A Future-Proof Reading List</h1>
          <p class="subtitle is-4 has-text-white-ter">With services like Pocket shutting down, don't let your content be at the mercy of someone else's business decision.</p>
          <p class="has-text-white-ter">Open-source alternatives offer a permanent home for your saved articles and pages. Gain true ownership of your data and the flexibility to host anywhere, ensuring your library is always there when you need it. It’s time for a solution that lasts.</p>
        </div>
        <div class="column is-5 has-text-centered">
          <span class="icon is-large has-text-white">
            <i class="fas fa-server fa-5x"></i>
          </span>
          <p class="mt-5 has-text-white-ter has-text-weight-bold"><a href="https://sharelette.cloudbreak.app/?url=https%3A%2F%2Fgetoffpocket.com%2Fself_hosted%3Futm_medium%3Dreferral%26utm_source%3Dsharelette%26rby%3Dsharelette&text=Get%20Off%20Pocket%3A%20A%20Guide%20to%20Pocket%20Alternatives" class="button is-primary"><i class="fa-solid fa-share-nodes mr-3"></i> Share this guide</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign products_reversed = site.data.products | reverse %}

<section class="section has-background-light">
  <div class="container">
    <h2 class="title is-3 has-text-centered mb-5">Self-Hostable Alternatives</h2>

    <div class="columns is-multiline is-vcentered">
      {% for alt in products_reversed %}
        {% assign is_self_hosted = false %}
        {% for option in alt.hosting_options %}
          {% if option.class == 'self-hosted' %}
            {% assign is_self_hosted = true %}
          {% endif %}
        {% endfor %}
        {% if is_self_hosted %}
        <div class="column is-6">
          <a href="/{{ alt.license | replace: '_', '-' }}/{{ alt.key | slugify }}/" style="display: block; height: 100%; color: inherit; text-decoration: none;"><div class="card h-100">
            <div class="card-content">
                <div class="media">
                <div class="media-left">
                  <img src="{{ alt.icon | prepend: site.baseurl }}" alt="{{ alt.name }} icon" class="app-icon">
                </div>
                <div class="media-content">
                  <p class="title is-3">{{ alt.name }}</p>
                  <p class="subtitle is-6">{{ alt.description | truncatewords: 15 }}</p>
                </div>
              </div>
            </div>

            <footer class="card-footer">
              <a href="/{{ alt.license | replace: '_', '-' }}/{{ alt.key | slugify }}/" class="card-footer-item">View Details</a>

              <a href="{{ alt.get_started_url }}" class="card-footer-item has-text-weight-bold has-text-white has-background-grey-dark">
                <span>Get Started</span>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </a>
            </footer>
          </div></a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include sponsorship_cta.html page_url=page.url %}
