<div class="has-background-info has-text-white has-text-centered py-2">
  {% include disclosure.html %}
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Get Off Pocket</strong> - Helping you find your perfect read-it-later solution.
    </p>
    <p>
      Creating a guide such as this is a time consuming endeavor.  Any and all support is appreciated so it can continue to be improved.
    </p>
    <p>
      <a href="https://sharelette.cloudbreak.app/?url=https%3A%2F%2Fgetoffpocket.com%2F%3Futm_medium%3Dreferral%26utm_source%3Dsharelette%26rby%3Dsharelette&text=Get%20Off%20Pocket%3A%20A%20Guide%20to%20Pocket%20Alternatives" class="button is-primary has-text-white-ter has-text-weight-bold m-3">
        <i class="fa-solid fa-share-nodes mr-3"></i>
        Share this guide
      </a>
      <a href="{{ site.donate_url }}" class="button is-danger m-3">
        <span class="icon"><i class="fas fa-heart"></i></span>
        <span>Donate what you want</span>
      </a>
    </p>
    <div class="container">
      <p class="help">
        We strive to be neutral and fair in representations of the products on this site. If you would like to propose a change, you can <a href="https://github.com/benjaminoakes/getoffpocket">suggest a change on GitHub</a>.
      </p>
      <p class="help">
        Product names, logos, and brands are property of their respective owners.
      </p>
      <p class="help">
        &copy; 2025 <a href="https://spacebarlabs.com/">Space Bar Labs</a>
      </p>
    </div>
  </div>
</footer>
