{%- assign price = include.price -%}
{%- if price.cost == 0 or price.cost == 0.0 -%}
  Free
{%- else -%}
  {%- assign currency_symbol = '$' -%}
  {%- if price.unit == 'EUR' -%}
    {%- assign currency_symbol = '€' -%}
  {%- endif -%}
  {{ currency_symbol }}
  {%- assign cost_val = price.cost -%}
  {%- assign cost_floor = cost_val | floor -%}
  {%- if cost_val == cost_floor -%}
    {{ cost_floor }}
  {%- else -%}
    {{ cost_val }}
  {%- endif -%}
  {%- if price.period and price.period != 'one-time' -%}
    / {{ price.period }}
  {%- endif -%}
{%- endif -%}
