{%- comment -%}
  Assign local variables from the passed 'price' object.
{%- endcomment -%}
{%- assign cost = include.price.cost -%}
{%- assign unit = include.price.unit -%}
{%- assign period = include.price.period -%}
{%- assign description = include.price.description -%}

{%- comment -%}
  Currency conversion from EUR to USD.
{%- endcomment -%}
{%- if unit == 'EUR' -%}
  {%- assign cost = cost | times: 1.15 -%}
  {%- assign unit = 'USD' -%}
{%- endif -%}

{%- comment -%}
  Price formatting.
{%- endcomment -%}
{%- if cost == empty -%}
  {%- if description and description != "" -%}
    {{ description }}
  {%- else -%}
    -
  {%- endif -%}
{%- elsif cost == 0 or cost == 0.0 -%}
  Free
{%- else -%}
  {%- assign currency_symbol = '$' -%}
  {{ currency_symbol }}
  {%- if period == 'year' -%}
    {%- assign price_to_format = cost | divided_by: 12.0 -%}
    {%- assign rounded_price = price_to_format | round: 2 -%}
    {%- assign price_parts = rounded_price | to_s | split: '.' -%}
    {%- assign decimal_part = price_parts[1] | default: '' -%}
    {%- if decimal_part.size == 0 -%}
      {{ price_parts[0] }}.00
    {%- elsif decimal_part.size == 1 -%}
      {{ price_parts[0] }}.{{ decimal_part }}0
    {%- else -%}
      {{ rounded_price }}
    {% endif %}
    / month
  {%- else -%}
    {%- assign price_to_format = cost -%}
    {%- assign rounded_price = price_to_format | round: 2 -%}
    {%- assign price_parts = rounded_price | to_s | split: '.' -%}
    {%- assign decimal_part = price_parts[1] | default: '' -%}
    {%- if decimal_part.size == 0 -%}
      {{ price_parts[0] }}.00
    {%- elsif decimal_part.size == 1 -%}
      {{ price_parts[0] }}.{{ decimal_part }}0
    {%- else -%}
      {{ rounded_price }}
    {% endif %}
    {% if period and period != 'one-time' %}
      / {{ period }}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
