<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-3">What type of reader are you?</h2>
    <p class="subtitle is-4 m-5">Find a great fit for you</p>
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="card h-100">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fab fa-apple fa-3x"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-4">Apple</p>
                <p class="subtitle is-6">Find apps that fit perfectly with your devices.</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/apple" class="card-footer-item">View Alternatives</a>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="card h-100">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-tablet fa-3x"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-4">E-Reader</p>
                <p class="subtitle is-6">Sync your articles to your e-ink device</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/ereader" class="card-footer-item">View Alternatives</a>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="card h-100">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-server fa-3x"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-4">Open Source</p>
                <p class="subtitle is-6">Take full control with open source apps</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/self_hosted" class="card-footer-item">View Alternatives</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <a href="/all_alternatives" class="button is-warning is-size-4">View all alternatives</a>
  </div>
</section>
