{% include utm_param.html page_url=include.page_url %}
<div class="has-text-centered mb-5" style="border: 1px solid #209CEE; border-radius: 4px; padding: 5px">
  {% include disclosure.html %}
</div>
<div class="sponsors-mini has-text-centered py-2" style="background: #fffbe6; border-radius: 0.5rem; margin: 1rem 0;">
  <span class="is-size-7 has-text-weight-semibold">Sponsored by: </span>
  <div class="buttons is-centered are-small" style="margin: 0.25rem 0;">
    <a href="https://sunya.plus/products/folio/{{ utm_and_rby }}" class="button is-warning is-light is-small">
      <span class="icon"><i class="fa-solid fa-circle-nodes"></i></span>
      <span>Sunya Folio</span>
    </a>
    <a href="https://cloudbreak.app/wallabag{{ utm_and_rby }}" class="button is-info is-light is-small">
      <span class="icon"><i class="fa-solid fa-cloud"></i></span>
      <span>CloudBreak Wallabag</span>
    </a>
  </div>
</div>
