<!-- CloudBreak CTA -->
<section class="section pt-0">
  <div class="container">
    <div class="box has-background-primary-light">
      <div class="columns is-vcentered">
        <div class="column is-8">
          <h3 class="title is-3">Ready to switch from Pocket?</h3>
          <p class="subtitle is-5">Get started with Wallabag on CloudBreak</p>
          <ul>
            <li>✓ Native apps</li>
            <li>✓ Browser extensions</li>
            <li>✓ Seamless sync</li>
            <li>✓ The freedom of open-source</li>
            <li>✓ The convenience of managed hosting</li>
            <li>✓ $2 off with code GETOFFPOCKET</li>
          </ul>
        </div>
        <div class="column is-4 has-text-centered">
          <a href="https://cloudbreak.app/wallabag?utm_medium=referral&utm_source=getoffpocket.com/blog/get-off-pocket&rby=getoffpocket.com/blog/get-off-pocket" class="button is-white is-large is-fullwidth">
            <span class="icon"><i class="fas fa-bookmark"></i></span>
            <span>Get Started</span>
          </a>
          <p class="help mt-2">For a limited time, just $10/year</p>
          <div class="mt-3">SPONSORED</div>
        </div>
      </div>
    </div>
  </div>
</section>
