<section class="section sponsorship-section pt-4 pb-4">
  <div class="container">
    <div class="columns">
      <!-- Gold Sponsor: Sunya+ -->
      <div class="column">
        <div class="card" style="border: 2px solid hsl(48, 100%, 67%); margin-bottom: 1.5rem; height: 100%; display: flex; flex-direction: column;">
          <div class="card-header" style="background-color: hsl(48, 100%, 67%);">
            <p class="card-header-title has-text-dark" style="font-weight: bold;">
              Gold Sponsor
            </p>
          </div>
          <div class="card-content" style="flex-grow: 1; display: flex; flex-direction: column;">
            <p class="title is-4"><a href="https://sunya.plus/?utm_medium=referral&utm_source=getoffpocket.com{{ include.page_url | default: '/' }}&rby=getoffpocket.com{{ include.page_url | default: '/' }}">Sunya+</a></p>
            <p class="subtitle is-6">Your new home for digital content.</p>
            <div class="content" style="flex-grow: 1;">
              <p>Discover Sunya+, a versatile platform for all your digital needs. Explore its features today!</p>
            </div>
            <p class="mt-auto">
              <a href="https://sunya.plus/?utm_medium=referral&utm_source=getoffpocket.com{{ include.page_url | default: '/' }}&rby=getoffpocket.com{{ include.page_url | default: '/' }}" class="button is-warning">Learn More</a>
              <a href="https://sunya.plus/?utm_medium=referral&utm_source=getoffpocket.com{{ include.page_url | default: '/' }}&rby=getoffpocket.com{{ include.page_url | default: '/' }}" class="button is-primary ml-2">Get Started</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Silver Sponsor: CloudBreak -->
      <div class="column">
        <div class="card" style="border: 2px solid hsl(0, 0%, 71%); margin-bottom: 1.5rem; height: 100%; display: flex; flex-direction: column;">
          <div class="card-header" style="background-color: hsl(0, 0%, 86%);">
            <p class="card-header-title has-text-dark" style="font-weight: bold;">
              Silver Sponsor
            </p>
          </div>
          <div class="card-content" style="flex-grow: 1; display: flex; flex-direction: column;">
            <h3 class="title is-4"><a href="https://cloudbreak.app/wallabag?utm_medium=referral&utm_source=getoffpocket.com{{ include.page_url | default: '/' }}&rby=getoffpocket.com{{ include.page_url | default: '/' }}">CloudBreak Wallabag Hosting</a></h3>
            <p class="subtitle is-6">Managed Wallabag for easy read-it-later.</p>
            <div class="content" style="flex-grow: 1;">
              <ul>
                <li>✓ Native apps & Browser extensions</li>
                <li>✓ Seamless sync & Open-source freedom</li>
                <li>✓ Convenient managed hosting</li>
                <li>✓ $2 off with code GETOFFPOCKET</li>
              </ul>
            </div>
            <p class="mt-auto">
              <a href="https://cloudbreak.app/wallabag?utm_medium=referral&utm_source=getoffpocket.com{{ include.page_url | default: '/' }}&rby=getoffpocket.com{{ include.page_url | default: '/' }}" class="button is-light">Get Started</a>
            </p>
            <p class="help mt-2">For a limited time, just $10/year</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
