---
layout: default
---
{%- assign product = site.data.products | where: "key", page.product_key | first -%}
<div class="container section">
  <div class="has-text-centered">
    <h1 class="title is-1">Use {{ product.name }} Like Any Other App</h1>
    <h5 class="title is-5 has-text-centered">Choose your provider.</h5>
    <div class="content">
      <p>For a small monthly fee, you will get access to this service. Your chosen provider will handle the rest.</p>
      <p>Support an independent software developer and help "small tech" grow.</p>
    </div>

    <div class="section">
        <h4 class="title is-4">Featured Provider: Space Bar Labs</h4>
        <div class="content">
            <p>Space Bar Labs offers a fully managed experience for {{ product.name }}. They handle all the technical details, so you can focus on using the app.</p>
        </div>
        <a href="{{ product.url }}" class="button">View Product Details</a>
        <a href="{{ product.subscription_url }}" class="button is-primary">Subscribe Now</a>
    </div>

    <div class="mt-5">
        <a href="/get-started/{{ product.key }}/" class="button is-info">&larr; Go Back</a>
    </div>
  </div>
</div>
