---
layout: default
---
{%- assign product = site.data.products | where: "key", page.product_key | first -%}
<div class="container section">
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-desktop">
      <div class="has-text-centered">
          <h1 class="title is-1">Self-Host {{ product.name }}</h1>
          <h5 class="title is-5">You can self-host this project. Here are some options:</h5>
          <p class="help">If you would like, purchase through these links to support <a href="/">getoffpocket.com</a>. You can also <a href="{{ site.donate_url }}">donate any amount</a> to support us directly. We aim to be good citizens and contribute 10% of any profits to these open source projects.</p>
      </div>

      <div class="content mt-4 pt-4" style="border-top: 1px solid #dbdbdb;">

        <article class="media">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-digital-ocean fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <strong><a href="{{ site.digital_ocean_referral_url }}" target="_blank" rel="noopener noreferrer">Host on Digital Ocean</a></strong>
            <p class="has-text-grey-dark">Get $200 in credit over 60 days to run this service and other projects.</p>
          </div>
        </article>

        <article class="media">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-raspberry-pi fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <strong><a href="https://www.amazon.com/CanaKit-Raspberry-Starter-Kit-PRO/dp/B0CRSNCJ6Y" target="_blank" rel="noopener noreferrer">Run on a Raspberry Pi</a></strong>
            <p class="has-text-grey-dark">A low-cost, energy-efficient option for home hosting.</p>
          </div>
        </article>

        <article class="media">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-github fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <strong><a href="{{ product.github_url }}" target="_blank" rel="noopener noreferrer">View Source Code</a></strong>
            <p class="has-text-grey-dark">For self-hosting on your own existing infrastructure. Free, if you already have the hardware, time, and skills to host it.</p>
          </div>
        </article>

      </div>

      <div class="has-text-centered mt-5">
          <a href="/get-started/{{ product.key }}/" class="button is-info">&larr; Go Back</a>
      </div>
    </div>
  </div>
</div>
